* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter";
  background-color: #ffffff;
}

.horizontal-line {
  height: 1px;
  background-color: #d7dee7;
  width: 100%;
}

.body-section {
  margin: auto;
  margin-bottom: 60px;
  padding: 0px 10px;
  max-width: 1000px;
}

@media (min-width: 500px) and (max-width: 648px) {
.body-section{
padding: 0px 15px;
}
}

@media (min-width: 648px) and (max-width: 850px) {
  .body-section{
padding: 0px 30px;
}
}

@media (min-width: 850px) and (max-width: 1200px) {
  .body-section{
padding: 0px 40px;
}
}

@media (min-width: 1200px) {
 .body-section{
  padding: 0px 0px;
  max-width: 1000px;
}
}
