.navbar-container {
  max-width: 1170px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

h4 {
  font-weight: 600;
  font-size: 22px;
  color: #1a1a1a;
  line-height: 100%;
}

.buttons {
  display: flex;
  gap: 8px;
}

.buttons button {
  padding: 10px 16px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 400px) {
 .navbar-container{
  flex-direction: column;
 }
}



.cancel-button {
  color: #68687b;
  border: 1px solid #bdbdc8;
  background: transparent;
  transition: background-color 0.2s ease-in-out;
}

.cancel-button:hover{
  background: rgb(255, 250, 250);

}

.save-button {
  background: #1c73e8;
  color: white;
  border: 1px;
  transition: background-color 0.2s ease-in-out;
}

.save-button:hover{
   background: #0b61d1;
}



